<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zarządzaj swoim dniem</title>
    <style>
        form, h1, a {
            display: block;
            text-align: center;
        }

        input {
            width: 35px;
        }
    </style>
</head>
<body>
<h1>Wybierz odpowiednie działanie</h1>
<div>
    <form action="/task/tables" method="get">
        <button type="submit">Wyświetl całą tabelę</button>
    </form>

    <form action="/task" method="get">
        <label>
            <input type="number" name="id" id="id" placeholder="ID">
        </label>
        <button type="submit">Wyświetl zadanie</button>
    </form>

    <form action="/task/create" method="get">
        <button type="submit">Dodaj zadanie</button>
    </form>

</div>
</body>
</html>