<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Aktualizacja</title>
</head>
<body>
<form action="/task" method="post">
    <label>
        <input type="text" name="title" placeholder="Podaj tytuł">
    </label>
    <label>
        <input type="text" name="description" placeholder="Podaj opis">
    </label>
    <label>
        <input type="number" name="priority" placeholder="Podaj priorytet">
    </label>
    <button type="submit">Aktualizuj zadanie</button>
</form>
</body>
</html>